:root {
    --blue: #3379be;
}

.pointer-none {
    pointer-events: none;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.z-10 {
    z-index: 10;
}

.facebook-icon:hover {
    color: #3b5998;
}
.twitter-icon:hover {
    /* color:aqua; */
    color:#00ACEE;
}
.instagram-icon:hover {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.logo-kids-hope {
    width: 200px;
}

.kids-ministry-title-logo {
    display: flex;
    flex-direction: column-reverse;
}

.register-link {
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.register-link a {
    font-size: 22px !important;
    text-shadow: 2px 2px 4px #000, 0 0 1em black, 0 0 0.2em black !important;
    /* text-transform: uppercase; */
    color: #fff;
}

.register-link a:hover {
    font-size: 24px !important;
    color: #ebebeb !important;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    border-radius: 3px;
}

/* Centered text */
.text-over-image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.youtube-icon:hover {
    color:#FF0000;
}

.e-with-fixed-bg {
    width: 100%;
    height: 650px;
    
    /* Important */
    position: relative;
  }
  
  .bg-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url(/images/church/expect-hope-building1.jpeg);
    transform: translateZ(0);
    will-change: transform;
  }

  .bg-gray-gradient {
    background: linear-gradient(to right, rgba(243, 244, 246, 1), rgba(255,0,0,0));
  }
  
  .e-container {
    z-index: 1;
    color: white;
    background: transparent;
  }


  .card-container .card:hover {
    transform: scale(1.05);
  }

  .card-img-top:hover {
    opacity: 0.85;
    filter: brightness(1.1);
  }

  .card-title {
    font-family: "Montserrat", "IBM Plex Sans", "Arimo", sans-serif;
    font-weight: 700;
    color: #235485
  }

  .btn-events {
    color: #fff;
    background-color: #3379BE;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .btn-events:hover {
    color: #fff;
    background-color: #235485;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 5px;
  }

  .btn-baptism-placement > a {
    background: rgba(255, 255, 255, 0.265) !important;
    color: #fff !important;
  }

  .btn-baptism-placement > a:hover {
    background: rgb(255, 255, 255) !important;
    color: #000000 !important;
  }

  .btn-baptism-placement {
        padding-top: 0px;
  }

@media (max-width:600px){
    #back-to-school {
        background-image:url('../images/general/back-to-school-md.png') !important;
    }
    #baptism {
        background-image:url('../images/events/water-baptisms-07-2024-mobile.jpg') !important;
    }
    #easter {
        background-image:url('../images/events/easter-mobile.png') !important;
    }
    #marriage-ministry {
        background-image:url('../images/events/murder-mystery-mobile.png') !important;
    }
    #guest-speaker {
        background-image:url('../images/events/steve-valdez-promo-mobile.png') !important;
    }
	#food-for-hope {
        background-image:url('../images/general/food-for-hope-graphic-mobile.png') !important;
    }
    #mens-breakfast {
        background-image:url('../images/events/mens-breakfast-graphic-sm.png') !important;
    }
    #mens-outting {
        background-image:url('../images/events/mens-ministry-clay-shooting-outing-400x600-mobile.png') !important;
    }
    #womens-study {
        background-image:url('../images/events/womens-book-study-mobile.png') !important;
    }
	#youth-bbq {
        background-image:url('../images/general/youth-bbq-mobile.png') !important;
    }
	#youth-event-schools-out {
        background-image:url('../images/general/youth-event-schools-out-mobile.png') !important;
    }

    .btn-md-middle-sm-bottom {
        padding-top: 350px;
    }

    .btn-back-to-school-placement {
        padding-top: 700px !important;
    }

    .btn-mens-breakfast-placement {
        padding-top: 100px;
    }

    .btn-guest-speaker-placement {
        padding-top: 300px;
    }

    .btn-marriage-ministry-placement {
        padding-top: 300px;
    }

    .btn.btn-transparent-yellow {background: transparent; border-color: #ffffff; color: #ffffff}
    .btn.btn-transparent-yellow:hover, .btn.btn-transparent-yellow:focus {background: #ffffff; border-color: #ffffff; color: #232323}

    .e-with-fixed-bg {
        height: 450px;
    }
}

@media (min-width:601px) and (max-width:1390px){
    #back-to-school {
        background-image:url('../images/general/back-to-school-md.png') !important;
    }
    #baptism {
        background-image:url('../images/events/water-baptisms-07-2024-md.jpg') !important;
    }
    #easter {
        background-image:url('../images/events/easter-md.png') !important;
    }
    #marriage-ministry {
        background-image:url('../images/events/murder-mystery-md.png') !important;
    }
    #guest-speaker {
        background-image:url('../images/events/steve-valdez-promo-md.png') !important;
    }
	#food-for-hope {
        background-image:url('../images/general/food-for-hope-graphic-md.png') !important;
    }
    #mens-breakfast {
        background-image:url('../images/events/mens-breakfast-graphic-md.png') !important;
    }
    #mens-outting {
        background-image:url('../images/events/mens-ministry-clay-shooting-outing-1150x1250-md.png') !important;
    }
    #womens-study {
        background-image:url('../images/events/womens-book-study-md.png') !important;
    }
    #youth-event-schools-out {
        background-image:url('../images/general/youth-event-schools-out-md.png') !important;
    }
    #youth-bbq {
        background-image:url('../images/general/youth-bbq-md.png') !important;
    }

    .btn-md-middle-sm-bottom {
        padding-bottom: 15px;
    }

    .btn-mens-breakfast-placement {
        padding-top: 90px;
    }

    .btn-guest-speaker-placement {
        padding-top: 370px;
    }

    .btn-marriage-ministry-placement {
        padding-top: 350px;
    }

}

@media (min-width:768px) and (max-width:887x){
    .btn-marriage-ministry-placement {
        padding-top: 600px;
    }
}

@media (min-width:887px) and (max-width:991px){
    .btn-marriage-ministry-placement {
        padding-top: 400px;
    }
}

@media (min-width:782px){
    .btn-md-middle-sm-bottom {
        padding-bottom: 25px;
    }

    .btn-mens-breakfast-placement {
        padding-top: 150px;
    }
}
@media only screen and (max-width: 991px) and (orientation: landscape) {
    .btn-marriage-ministry-placement {
        padding-top: 200px;
    }
}


@media (min-width:992px) {
    .btn-marriage-ministry-placement {
        padding-top: 600px;
    }
}

@media (min-width:1390px){
    #back-to-school {
        background-image:url('../images/general/back-to-school-lg.png') !important;
    }
    #baptism {
        background-image:url('../images/events/water-baptisms-07-2024-lg.jpg') !important;
    }
    #easter {
        background-image:url('../images/events/easter-lg.png') !important;
    }
    #marriage-ministry {
        background-image:url('../images/events/murder-mystery-lg.png') !important;
    }
    #guest-speaker {
        background-image:url('../images/events/mens-breakfast-2024-lg.png') !important;
    }
	#food-for-hope {
        background-image:url('../images/general/food-for-hope-graphic-lg.png') !important;
    }
    #mens-breakfast {
        background-image:url('../images/events/mens-breakfast-lg.png') !important;
    }
    #mens-outting {
        background-image:url('../images/events/mens-ministry-clay-shooting-outing-1920x1080-lg.png') !important;
    }
    #womens-study {
        background-image:url('../images/events/womens-book-study-lg.png') !important;
    }
    #youth-event-schools-out {
        background-image:url('../images/general/youth-event-schools-out.png') !important;
    }
    #youth-bbq {
        background-image:url('../images/general/youth-bbq-lg.png') !important;
    }

    .btn-md-middle-sm-bottom {
        padding-bottom: 40px;
    }

    .btn-mens-breakfast-placement {
        padding-top: 300px;
    }

    .btn-guest-speaker-placement {
        padding-top: 250px;
    }

    .btn-marriage-ministry-placement {
        padding-top: 650px;
    }

    .btn-baptism-placement > a {
        background: rgba(255, 255, 255, 0.405) !important;
      }
}

@media (min-width:1999px){
    .btn-md-middle-sm-bottom {
        padding-bottom: 50px;
    }

    .btn-mens-breakfast-placement {
        padding-top: 650px;
    }

    .btn-guest-speaker-placement {
        padding-top: 550px;
    }

    .btn-marriage-ministry-placement {
        padding-top: 750px;
    }
}

@media only screen and (max-width:991px){
	.inverse-dark {
        background-color: #000 !important;
        color: #ededed !important;
    }
    .inverse-light {
        background-color: #fff !important;
        color: #232323 !important;
    }
}

@media only screen and (max-width:767px){
	.map {
        display: none;
    }
    .spotify-icons {
        max-width: 70%;
    }
}

@media (min-width: 320px) {
    .kids-ministry-title {font-size: 55px; line-height: 66px}
}

@media (min-width: 481px) {
    .kids-ministry-title {font-size: 68px; line-height: 80px}
}
@media (min-width: 769px) {
    .kids-ministry-title {font-size: 75px; line-height: 84px}
    .logo-kids-hope {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .logo-image {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .kids-ministry-content {
        text-align: center;
    }
    .kids-ministry-title {
        font-size: 55px; 
        line-height: 66px;
        text-align: center;
    }
    
}
@media (min-width: 1025px) {
}

@media (min-width: 1400px) {
    .kids-ministry-title {font-size: 75px; line-height: 84px}
}

@media (min-width: 1999px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1670px !important;
    }
    .logo-kids-hope {
        width: 250px;
    }
}

@media only screen and (min-width: 550px) {
    #sms-text {
        display: none !important;
    }
}