:root {
    --blue: #3379be;
  }


.facebook-icon:hover {
    color: #3b5998;
}
.twitter-icon:hover {
    /* color:aqua; */
    color:#00ACEE;
}
.instagram-icon:hover {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.logo-kids-hope {
    width: 200px;
}

.kids-ministry-title-logo {
    display: flex;
    flex-direction: column-reverse;
}
.youtube-icon:hover {
    color:#FF0000;
}

@media only screen and (max-width:991px){
	.inverse-dark {
        background-color: #000 !important;
        color: #ededed !important;
    }
    .inverse-light {
        background-color: #fff !important;
        color: #232323 !important;
    }
}

@media only screen and (max-width:767px){
	.map {
        display: none;
    }
}

@media (min-width: 320px) {
    .kids-ministry-title {font-size: 55px; line-height: 66px}
}

@media (min-width: 481px) {
    .kids-ministry-title {font-size: 68px; line-height: 80px}
}
@media (min-width: 769px) {
    .kids-ministry-title {font-size: 75px; line-height: 84px}
    .logo-kids-hope {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .logo-image {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .kids-ministry-content {
        text-align: center;
    }
    .kids-ministry-title {
        font-size: 55px; 
        line-height: 66px;
        text-align: center;
    }
    
}
@media (min-width: 1025px) {
}

@media (min-width: 1400px) {
    .kids-ministry-title {font-size: 75px; line-height: 84px}
}

@media (min-width: 1999px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1670px !important;
    }
    .logo-kids-hope {
        width: 250px;
    }
}
